* {
    margin: 0;
    padding: 0;
}




body {
    background-color: #E3C5BB;
    color: #764248;
    text-align: center;
}

.h1 {
    text-decoration: underline;
    font-size: 50px;

}

.container {
    padding-top: 10vmin;
    height: 70vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}

.box {

    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    background-color: #DFE2CF;
    font-size: 8vmin;
    color: #764248;
    border: 3px solid #764248;
}

#reset-btn {
    padding: 1 rem;
    font-size: 1.25rem;
    background-color: #1C3144;
    color: white;
    border-radius: 1rem;
    border: 6px solid #1C3144;
}

#msg {
    color: #764248;
    font-size: 8vmin;
}

.msg-container {
    height: 90vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4vmin;
}

#new-btn {
    padding: 1 rem;
    font-size: 1.25rem;
    background-color: #1C3144;
    color: white;
    border-radius: 1rem;
    border: 6px solid #1C3144;
}

.hide {
    display: none;
}